<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<title>Главная</title>
	</head>
	<body>
	    <div align="center">
	    <h1>Загрузить и показать изображение</h1>

	    <form method="POST" enctype="multipart/form-data" action="/">
	        <input type="file" id="myFile" name="uploaded-file" accept=".png">
	        <input type="submit" value="Submit" class="btn btn-primary">
	    </form>
	  <br>
	  <p style="color:green;">File uploaded successfully</p>
		    <br>
		    <br>
	  <img src="{{ user_image }}" alt="Italian Trulli">
	    </div>
	  </body>
</html>