<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Главная</title>
	</head>
	    <body>
	    <h1>Upload and display image in Flask</h1>
	    <p>Show image in html using FLASK</p>

	    <form method="POST" enctype="multipart/form-data" action="/">
	        <input type="file" id="myFile" name="uploaded-file" accept=".png">
	        <input type="submit" value="Submit">
	    </form>
	  <br>
	  <p style="color:green;">File uploaded successfully</p>
		    <br>
		    <br>
	  <img src="{{ user_image }}" alt="Italian Trulli">
	  </body>
</html>